$dark: #0b0c10;
$grey:#083431;
$lightgrey:#c5c6c7;
$lightturquoise:#66fcf1;
$turquoise:#45a29e;

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Rajdhani:wght@500&family=Special+Elite&display=swap');

nav,.head{
font-family: 'Special Elite', cursive;
}
main{
font-family: 'Rajdhani', sans-serif;
}