@import "src/const.scss";
*{
  margin: 0;
}
body{
  background-color: $dark;
  background: rgb(8,52,49);
  background: linear-gradient(90deg, rgba(8,52,49,1) 0%, rgba(4,83,78,1) 57%, rgba(11,12,16,1) 94%);
  font-size: 20px;
  line-height: 1.5rem;
  min-height: calc( 100vh + 1px);
  behavior: smooth;
}

p,ul,li{
  color: $lightgrey;
   &:first-letter{
    text-transform: uppercase;
  }
}
ul{
  padding-inline-start:0;
 li{
  padding-inline-start:0;
 }
}
h1,h2,h3,ul,dt{
  color: $lightturquoise;
}
h1,h2{
  margin: 1rem;
  line-height: 3rem;
}
a {
  text-decoration: none;
  color:$turquoise;
}
nav{
  background-color: $dark;
  padding: 20px 0;
  user-select: none; 
  & ul {
    @extend .flex-container;
    justify-content: space-around;
    list-style: none;
    li{
      margin: 10px;
    }
  
  }
}
.active--link{
  color: $lightturquoise;
}
.home{
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%);
}

 #tsparticles{
  height: calc(100vh - 80px);;
}

header{
  background-image: url("img/code-min.JPG");
}

main{
  @extend .flex-container;
  display: flex;
  ul{
    li{
      list-style-image: url("img/ok.svg");
      list-style-position: inside;
      margin:1rem;
    }
  }
 
}
article{
  width: 90vw;
  margin-bottom: 70px;
  margin-top: 30px;
  position: static;
  left: -130px;
  z-index:2;
}

.photo{
  position: fixed;
  top: 70px;
  right: 0px;
  background-image: url("img/viktoriia_aqua-min.png");
  background-position: 20% 0;
  background-repeat: no-repeat;
  width: 500px;
  height: 680px;
  display: none;
  z-index:0;
}
.contacts-list{
  min-width: 50vw;
  ul,li{
    list-style: none;
  }
}
.flex-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  }
.align-start{
  align-items: flex-start;
  }
.flex-item {
  order: 0;
  flex: 0 0 auto;
  align-self: flex-start;
  }
.flex--all-width{
  flex: 0 0 100%;
  text-align: center;
}
.space-around{
  justify-content: space-around;
}
.level{
  width:200px;
  display: inline-block;
  opacity: 0.4;
  border: 1px solid white;
}
dd,dt{
  margin:5px 0px;
}
p{
  @extend .space-between;
  margin: 10px 0;
}
span:last-child{
  padding-left: 20px;
  text-align: end;
  flex: 0 1 200px;
}
.space-between{
  display: flex;
  justify-content: space-between;
}

  .projects--box{
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    width:  600px;
    height:  500px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
      padding: 40px;
      color: $lightgrey;
    }
    img {
      display: block;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      }

    .projects--box_overlay{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: #04534ef7;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      box-sizing: border-box;
      transition: .45s ease-in-out;
        } 

  &:hover{
    .projects--box_overlay{
      display: flex;
      opacity: 1;
       }
  }
}
.button {
	box-shadow: 3px 6px 0px 0px #216c8a;
	background:linear-gradient(to bottom, $dark 5%, $grey 100%);
	background-color:#0d1a36;
	border-radius:12px;
	border:1px solid #98dfe0;
	display:inline-block;
	cursor:pointer;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
  text-shadow:0px 1px 0px #0f0e0e;
  a{
    color:$lightgrey;
  }
}
.button:hover {
	background:linear-gradient(to bottom, $dark  5%, $grey 100%);
	background-color:$turquoise;
}
.button:active {
	position:relative;
	top:1px;
}
@media (max-width: 575.98px) {
  h2{
    font-size:  1.8rem;;
  }
  h1,h2{
    line-height: 2rem;
  }
  main{
    font-size: 18px;
    ul{
      margin: 0px 5px; 
      li{
        margin: 10px 0; 
      }
    }
  }
  .home{
    top:40%;
    font-size: 0.7rem;
  }
  article{
    margin: 15px 15px;
  }
  .level{
  width:30%;
  }

  .only-for-small-width{
  font-size: 0.8rem;
}
  .flex-container{
  flex-direction: column;
  }
    nav .flex-container{
      flex-direction: row;
      }
      .projects--box{
        width:  calc(600px / 2);
        height:  calc(500px  / 2);
        div{
          padding: 15px;
        }
      }
}


@media (min-width: 576px) and (max-width: 767.98px) {
  .home{
    top:30%;
    font-size: 1rem;
  }
  .projects--box{
    width:  calc(600px * 2 / 3);
    height:  calc(500px * 2 / 3);
  }
  }
@media (min-width: 992px) {
  .photo{
  display: block;
  } 
  article{
    width: calc(100vw - 600px);
    position: relative;
  }
}